:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 85%);
  --gray: hsl(0, 0%, 50%);
  --dark-gray: hsl(0, 0%, 18%);
  --black: hsl(0, 0%, 10%);
  --full-black: hsl(0, 0%, 0%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--full-black);
  width: 100vw;
  height: 100vh;
}

main {
  overflow: hidden;
}

canvas {
  max-height: 100vh;
}
